@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Josefin+Sans:wght@500&family=Kalam:wght@300&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:wght@500&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,900&family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  /* background: linear-gradient(180deg,rgb(197,193,226),rgb(3,136,229)); */
  background-color: #fafafa;
  max-width: 100%;
}

.nav {
  background-color: #fafafa;
}

button:active {
  transform: translateY(2px);
}

.footer-bottom {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.products {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 4rem;
  row-gap: 2rem;
  /* gap: 2rem; */
}

.footer-bottom a:hover,
.anchor a:hover {
  text-decoration: underline;
}

.secondary {
  background-color: #57b33e;
}
.primary {
  background-color: #3056d3;
}
.dark-blue {
  background-color: #0c192c;
}
.gray {
  color: #786f6f;
}

.dark-icon{
	color: #0c192c;
}

.partners-wrapper {
  position: relative;
  /* height: 100px; */
  /* -webkit-mask-image: linear-gradient(90deg, transparent, white 20%, white 80%);
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%); */
}
/* .scroll-content {
  animation: scroll-horizontal 30s linear infinite forwards;
} */
@keyframes scroll-horizontal {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.partners-wrapper img {
  width: 150px;
  object-fit: contain;
  /* position: absolute; */
  /* right: 0; */
}
.request i {
    color: rgb(30 64 175);
}


.footer-bottom .bottom-one .logo a:hover{
	text-decoration: none;
}
/* testimonials start*/
.testimonial_slider_2{
	width:100%;
	border: 1px solid #ebebeb;
	overflow:hidden;
	box-sizing:border-box;
	padding-bottom:30px;
}
.testimonial_slider_2 input {
	display: none;
}

.testimonial_slider_2 #slide_2_1:checked ~ .boo_inner { margin-left:0; }
.testimonial_slider_2 #slide_2_2:checked ~ .boo_inner { margin-left:-100%; }
.testimonial_slider_2 #slide_2_3:checked ~ .boo_inner { margin-left:-200%; }
.testimonial_slider_2 #slide_2_4:checked ~ .boo_inner { margin-left:-300%; }
.testimonial_slider_2 .boo_inner {
	width:400%;
	-webkit-transform: translateZ(0);
  transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}
.testimonial_slider_2 .slide_content{
	width:25%;
	float:left;
}
.testimonial_slider_2 #controls {
	text-align:center;
}
.testimonial_slider_2 #controls label{
	width:8px;
	height:8px;
	margin:0 2px;
	display:inline-block;
	background:#999; /* Change controls background color */
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.testimonial_slider_2 #slide_2_1:checked ~ #controls label:nth-child(1), 
.testimonial_slider_2 #slide_2_2:checked ~ #controls label:nth-child(2), 
.testimonial_slider_2 #slide_2_3:checked ~ #controls label:nth-child(3), 
.testimonial_slider_2 #slide_2_4:checked ~ #controls label:nth-child(4){
	background:#000; /* Change controls background color when mouse click */
}
.testimonial_2 {
	font-size: 16px !important;
	color: #333; /* Change testimonial paragraph text color */
	padding: 30px 30px 23px;
}
.content_2 {
	position: relative;
	padding-left: 30px;
	margin-bottom: 30px;
}
.content_2:before,
.content_2:after {
	content: "";
	height: 15px;
	width: 19px;
	position: absolute;
}
.content_2:before {
	background: url(icon_testimonial_2_before.png) 0 0 no-repeat;
	left: 0;
}
.content_2:after {
	background: url(icon_testimonial_2_after.png) 0 0 no-repeat;
	margin: 5px 10px;
}
.testimonial_2 p {
	display: inline;
}
.author_2 {
	margin-left: 30px;
}
.author_2 h3 {
	color: #333; /* Change author text color */
	font-size: 13px;
	font-weight: 600px;
	padding: 0 0 5px;
}
.author_2 h4 {
	color: #333; /* Change author text color */
	font-size: 12px;
	font-weight: 400;
	padding: 0 0 5px;
}
.author_2 h4 a {
	color: #999; /* Change company text link color */
	text-decoration: none;
	position: relative;
	padding-bottom: 1px;
	overflow: hidden;
	border-bottom: 1px solid;
}
.author_2 h4 a:after {
	background: #999; /* Change company border link background color */
	height: 1px;
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.author_2 h4 a:hover {
	color: #000; /* Change company text link color when mouse over */
	border: none;
}
.author_2 h4 a:hover:after {
	border-color: #000;
	width: 100%;
}
/* testimonials end */